/* resets */

html, body, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";
}

header {
    grid-area: header;
    background-color: lightgrey;
    background: url('../images/hero_image.jpg') center / cover no-repeat;

}



// /* banner */

// .banner {
//     height: 100vh;
//     background-color: lightgrey;
//     background: url('../images/hero_image.jpg') center / cover no-repeat;
// }

// /* nav */

// nav {
//     position: fixed;
//     width: 100%;
// }

//  .navbar, .navbar ul {
//     display: flex;
//     justify-content: space-between;
//     color: white;
//     font-weight: 700;
// }

// .navbar  ul {
//     padding: 15px;
//     width: 40%;
// }

// .navbar .logo {
//     padding: 15px;
// }

// /* title */

// .title {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
// }

// .title h1 {
//     color: white;
//     font-size: 2.2em;
//     margin-left: -20%;
//     max-width: 550px;
//     text-align: center;
//     text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
//     letter-spacing: 1px;
// }

// .title p {
//     max-width: 700px;
//     color: rgba(250, 250, 250, 0.8);
//     font-size: 1.1em; 
//     margin-left: 20%;   
// }